ie ?= false

@import 'utils.styl'

html
    height 100%
    
body
    min-height 100%
    margin 0
    position relative
    
div
    display inline-block
    // border-radius 2px
    // transform translate
    reset_focus()