ie ?= false

//____________________
// Imports

@import 'utils.styl' // vital utilities

//____________________
// Variables

font_family-default =   Arial, Helvetica, sans-serif

brand_color-black =     #333

//____________________
// Scaffolding

html
    height 100%
    
body
    min-width 1200px
    min-height 100%
    position relative
    font 14px/18px font_family-default
    color brand_color-black
    